<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <!-- extractNativeLibs=true：让 libmihomo.so 被解压到 nativeLibraryDir，
         以便作为独立子进程执行（mihomo 代理内核）。 -->
    <application
        android:banner="@mipmap/ic_launcher"
        android:extractNativeLibs="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
